html, body {
	-webkit-app-region: no-drag;
	overflow: hidden;
}
a, button {
	cursor: pointer;
}
.navbar {
	-webkit-app-region: drag;
	-webkit-user-select: none;
}
.navbar-nav, #close, #minimize {
	-webkit-app-region: no-drag;
	-webkit-user-select: none;
}
.wrapper {
	max-height: 100vh;
	overflow: auto;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
}
.modal-dialog {
	margin: 64px;
	position: relative;
	width: auto;
}
@media (min-width: 576px) {
	.modal-dialog {
		margin: 64px auto;
		max-width: 500px;
	}
}
@media (min-width: 576px) {
	.modal-dialog {
		margin: 64px auto;
		max-width: 500px;
	}
}
#close:hover, #minimize:hover {
	background-color: #868e96;
	border-radius: 4px;
}